
Province Copier/bin/Debug/app.publish/Application Files/Province Copier_2_0_1_1/MainIcon.ico.deploy
Province Copier/bin/Debug/app.publish/Application Files/Province Copier_2_0_1_1/Province Copier SaveSpace Icon.ico.deploy
Province Copier/bin/Debug/app.publish/Application Files/Province Copier_2_0_1_1/Province Copier.exe.config.deploy
Province Copier/bin/Debug/app.publish/Application Files/Province Copier_2_0_1_1/Province Copier.exe.deploy
Province Copier/bin/Debug/app.publish/Application Files/Province Copier_2_0_1_1/Province Copier.exe.manifest
Province Copier/bin/Debug/app.publish/autorun.inf
Province Copier/bin/Debug/app.publish/Province Copier.application
Province Copier/bin/Debug/app.publish/Province Copier.exe
Province Copier/bin/Debug/app.publish/setup.exe
Province Copier/bin/Debug/Province Copier.application
Province Copier/bin/Debug/Province Copier.exe.CodeAnalysisLog.xml
Province Copier/bin/Debug/Province Copier.exe.config
Province Copier/bin/Debug/Province Copier.exe.lastcodeanalysissucceeded
Province Copier/bin/Debug/Province Copier.exe.manifest
Province Copier/bin/Debug/Province Copier.pdb
Province Copier/bin/Release/Province Copier.exe.config
Province Copier/bin/Release/Province Copier.pdb
Province Copier/obj/Debug/04280d2b-9d7c-40ff-9f0e-f94c2e2afca6_Province Copier.pdb
Province Copier/obj/Debug/CoreCompileInputs.cache
Province Copier/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Province Copier/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Province Copier/obj/Debug/Province Copier.application
Province Copier/obj/Debug/Province Copier.csproj.FileListAbsolute.txt
Province Copier/obj/Debug/Province Copier.csproj.GenerateResource.Cache
*.cache
Province Copier/obj/Debug/Province Copier.exe
Province Copier/obj/Debug/Province Copier.exe.manifest
Province Copier/obj/Debug/Province Copier.pdb
Province Copier/obj/Debug/Province Copier.TrustInfo.xml
Province Copier/obj/Debug/ProvinceCopier.MainUI.resources
Province Copier/obj/Debug/ProvinceCopier.Properties.Resources.resources
Province Copier/obj/Debug/ProvinceCopier.UIClasses.AboutPopup.resources
Province Copier/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Province Copier/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Province Copier/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Province Copier/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Province Copier/obj/Debug/Test.csproj.FileListAbsolute.txt
Province Copier/obj/Release/3f6a474e-6705-4fe4-b526-5729aad0510f_Province Copier.pdb
Province Copier/obj/Release/Province Copier.csproj.FileListAbsolute.txt
Province Copier/obj/Release/Province Copier.exe
Province Copier/obj/Release/Province Copier.pdb
Province Copier/obj/Release/ProvinceCopier.MainUI.resources
Province Copier/obj/Release/ProvinceCopier.Properties.Resources.resources
Province Copier/obj/Release/ProvinceCopier.UIClasses.AboutPopup.resources
Province Copier/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Province Copier/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Province Copier/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Province Copier/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Province Copier/obj/Release/Test.csproj.FileListAbsolute.txt
Province Copier/Province Copier.csproj.user
PSD Resources/ImageNotFound.png
PSD Resources/ImageNotFound.psd
PSD Resources/Province Copier Icon.bmp
PSD Resources/Province Copier Icon.psd
PSD Resources/Province Copier Name.psd
PSD Resources/Province Copier SaveSpace Icon.psd
shell32.pdb/9559A014C4DAF56D795D59F9792C98FF1/download.error
Test Savespaces/Regular Debug.savespace
Test Savespaces/Regular.savespace
Test Savespaces/Universal.savespace
.vs/Province Copier/v15/.suo
